[mysqld]
datadir = /var/lib/mysql/
# mysql default port
port = 3306
# files that contain information about data modifications made to a MySQL server instance
log-bin = /var/lib/mysql-bin
# The bind-address setting tells MySQL whether it can listen on a TCP socket for new connections.
# MySQL can bind to all networks (0.0.0.0)
bind-address = 0.0.0.0
# skip-networking true by default allow local connection only
# set to false to allow TCP connection
skip-networking = false